
.classpath

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

.project

.settings/org.eclipse.jdt.core.prefs

supporting/a.out

supporting/pfactorial.erl

target/classes/BigIntegerSpliterator.class

*.class

*.jar

target/maven-archiver/pom.properties

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
